{% extends "base.html" %}

{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home_main container">
    <div class="heading">프로젝트</div>
    <p class="content">
        1. 삼성전자 주요 사건 정리<br><br>
        2. 코스피, 코스닥 주요 사건 정리<br><br>
        3. 산업별 정리 <br><br>
        4. 유가, 화폐 등 다른 자산 정리 <br><br>
        5. 테마 정리 <br><br>
        6. PER 등 용어 정리<br><br>
    </p>
    <div class="heading">해야할 목록</div>
    <p class="content">
        1. block paginator<br><br>
        <del>2. block content tab</del><br><br>
        3. 차트 안에서 왼쪽 클릭할 경우<br><br>
        <del>4. block 이벤트 위임 처리</del><br><br>
        5. auto complete, scroll 디바운스 처리<br><br>
        6. 캘린더 기능 구현<br><br>
        7. 블로그 기능 구현<br><br>
    </p>
    <div class="heading">업데이트 목록</div>
    <p class="content">

    </p>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}

