{% extends "base.html" %}

{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home_main container">
    <div class="heading">프로젝트</div>
    <p class="content">
        1. 삼성전자 주요 사건 정리<br><br>
        2. 코스피, 코스닥 주요 사건 정리<br><br>
        3. 산업별 정리 <br><br>
        4. 유가, 화폐 등 다른 자산 정리 <br><br>
        5. 테마 정리 <br><br>
        6. PER 등 용어 정리<br><br>
    </p>
    <div class="heading">추가예정</div>
    <p class="content">
        1. block paginator<br><br>
        2. block content<br><br>
        3. onclick in chart<br><br>
        4. calendar<br><br>
    </p>
    <div class="heading">업데이트</div>
    <p class="content">

    </p>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}

