@import "reset.css";
@import "nav.css";

* { box-sizing: border-box; }

html,body{
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(192, 192, 192);
}

.underbar {
    height: 3px;
    width: 100%;
    background-color: rgb(192, 192, 192);
}

#flexbox{
    height: 100%;
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.container {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(192, 192, 192);
	background-color: white;
	padding: 20px;
}

.block{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid rgb(192, 192, 192);

}

.block_header{
    display: flex;
    flex:1;
    flex-direction: row;
    padding: 10px;

}
.block_header div{
    padding: 0 5px;
}

.block_header_date {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: #e6e6e6;
}

.block_tag_container{
    padding: 10px;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
}

.block_tag{
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(192, 192, 192);
	padding: 3px;
}

.block_tag a{
    text-decoration: none;
    color: black;
}

.block_content{
    display: none;
    height: 520px;
    overflow: auto;
    padding: 10px;
    border-top: 2px solid rgb(192, 192, 192);
}

.block_content_tab{
    border-top: 2px solid rgb(192, 192, 192);
    padding: 5px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.block_content_tab:hover{
    cursor:pointer;
}