#searchblock_input {
    padding: 5px;
    border: 3px solid rgb(192, 192, 192);
    border-radius: 5px
}

#searchblock_button{
    padding: 5px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    cursor: pointer;
    width: 74.71px;
}

#searchblock_button:hover{
    background-color: rgb(192, 192, 192);
}

.searchblock_date{
    padding-top: 15px;
}

#searchblock_date_start, #searchblock_date_end{
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
}

#side_block_container {
    height: 100%;
    display:flex;
    flex-direction: column;
    flex:1 1;
    overflow: auto;
}

#block_pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block_pagination_btn{
    padding: 8px 16px;
    border: 1px solid rgb(192, 192, 192);
}

.current{
    background-color: rgb(192,192,192);
    color: white;
}

.block_pagination_btn:hover{
    cursor:pointer;
}