.stock_header{
    display:flex;
    align-items: center;
}

.stock_code{
    margin-left: 20px;
    border-radius: 10px;
	border: 1px solid rgb(192, 192, 192);
	padding: 5px;
	background-color: #f4f4f4;
	color: black;
}

.stock_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.wiki_tag{
    display:none;
    font-size: 14px;
    flex-direction: column;
    flex:1;
    min-height: 0;
}

.wiki_super_tag{
    margin-bottom: 30px;
}

.wiki_super_tag, .wiki_sub_tag{
    border-radius: 5px;
	border: 2px solid rgb(192, 192, 192);
	padding: 10px;
	overflow: auto;
}

.stock_menu_btn{
    padding: 10px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid rgb(192, 192, 192);
}

.stock_menu_btn:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.stock_chart_wrapper {
    flex:1 1 0;
    min-height: 0;
}

#stock_chart {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid rgb(192, 192, 192);
}

.stock_info{
    display:none;
    padding-bottom: 10px;
}

.chartLoadingGif{
  display: flex;
  justify-content: center;
  align-items: center;
}
