html,body{
	overflow: hidden;
}

#wiki_main{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

#left{
    display:flex;
    flex-direction: column;
    width: 80vw;
    min-width: 20vw;
}

.wiki_content {
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    flex:1;
    padding: 0px 20px 5px 20px;
    overflow: auto;
    line-height: 1.6;
}

#resizer {
    background-color: rgb(192, 192, 192);
    width: 3px;
}

#resizer:hover{
    cursor:w-resize;
}

#side{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 20vw;
}

#left, #side, #resizer{
    height: 100%;
    box-sizing: border-box; /* 오페라(Opera) */
    -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/
    -webkit-box-sizing: border-box; /* 웹킷(Webkit) & 크롬(Chrome) */
}

/* search wiki */
.searchwiki_autocomplete{
    width: 300px;
    position: relative;
    display: inline-block;
}

#searchwiki{
    width: 100%;
    padding: 10px;
    border: 3px solid rgb(192, 192, 192);
    border-radius: 5px;
}

.searchwiki_list{
    width: 100%;
    max-height: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;

    background-color: white;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.searchwiki_list li{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.searchwiki_list li:focus, .searchwiki_list li:hover{
    background-color: #e6e6e6;
}




/* block */
.block{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid rgb(192, 192, 192);

}

.block_header{
    display: flex;
    flex:1;
    flex-direction: row;
    padding: 10px;

}

.block_header div{
    padding: 0 5px;
}

.block_header_date {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: #e6e6e6;
}

.block_name {
    text-align: right;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
}

.block_tag_container{
    padding: 10px;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
}

.block_tag{
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(192, 192, 192);
	padding: 3px;
	margin-bottom: 5px;
	display:inline-block;
}

.block_tag a{
    text-decoration: none;
    color: black;
}

.block_content{
    line-height: 1.8;
    display: none;
    height: auto;
    max-height: 520px;
    overflow: auto;
    border-top: 2px solid rgb(192, 192, 192);
    padding: 0 10px 0 5px;
}

.block_content ul, .block_content ol{
    padding: 0 5px 0 30px;
}

.block_content_tab{
    border-top: 2px solid rgb(192, 192, 192);
    padding: 5px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.block_content_tab:hover{
    cursor:pointer;
}

.blockLoadingGif{
  display: flex;
  justify-content: center;
  align-items: center;
}
