<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.investingforeveryone.ml/">
    <meta property="og:title" content="모두를 위한 투자">
    <meta property="og:description" content="investing for everyone">
    <meta property="og:image" content="{% static 'img/opengraphlogo.png' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% block extra-style %}{% endblock %}
    <title>{% block title %}{% endblock %}모두를 위한 투자</title>
</head>

<body>

<div id="flexbox">
    <!-- navbar -->
    {% include "single_page/nav.html" %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/base.js' %}"></script>
{% block extra-script %}{% endblock %}

</body>
</html>