{% extends "single_page/base.html" %}

{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about_main container">
  <div style="font-weight: bold; border-left: 10px solid #707070; padding: 0.5em; border-bottom: 2px solid #707070;">모두를 위한 투자</div>
  <br>
  <p>
    모두를 위한 투자는 문서의 편집 권한이 모든 사람에게 부여되는 위키 형식의 투자정보 플랫폼으로 를 기록할 수 있는 공간을 제공합니다.<br><br>
    기록된 정보들을 기반으로, 통념을 통계로 확인하여 데이터 기반의 건전한 투자 생태계를 조성하고 정보 수집의 분업화를 통해 바쁜 현대인들이 투자에만 매몰되지 않고 자아실현과 건전한 투자를 병행할 수 있도록 도움을 주는 것이 목적입니다.<br><br>
  </p>
  <br>
  <div style="font-weight: bold; border-left: 10px solid #707070; padding: 0.5em; border-bottom: 2px solid #707070;">주요 기능</div>
  <p>
  </p>
  <div style="font-weight: bold; background: #F9F7F6; border-left: 0.5em solid #707070; padding: 0.5em;">0. 용어</div>
  <br>
  <p>
    - 사이드바: 차트 페이지에서 오른쪽에 검색창 및 블록 리스트가 나오는 부분<br><br>
    - 블록: 사건, 의견, 증권사 리포트 정보를 담은 박스<br><br>
  </p>
  <div style="font-weight: bold; background: #F9F7F6; border-left: 0.5em solid #707070; padding: 0.5em;">1. 차트</div>
  <br>
  <p>
    - 왼쪽 검색창: 기업, 산업, 단어, 인물 검색창 <br><br>
    - 차트 안에 마우스 올리면: 해당 위치 주가정보 및 날짜정보 <br><br>
    - 차트 안에서 왼쪽 클릭: 미정 <br><br>
    - 차트 안에서 오른쪽 클릭: 미정<br><br>
    - 차트 안에서 왼쪽 클릭 후 드래그: 차트 내 날짜 범위 좌/우로 이동<br><br>
    - 차트 안에서 오른쪽 클릭 후 드래그: 드래그한 날짜 범위만큼 사이드바에 블록 자동 검색<br><br>
    - 차트 안에서 마우스 휠: 차트에 표시 되는 캔들 수 증가/감소<br><br>
  </p>
  <div style="font-weight: bold; background: #F9F7F6; border-left: 0.5em solid #707070; padding: 0.5em;">2. 사이드바</div>
  <p>
    - 오른쪽 검색창: 사건, 의견, 증권사 리포트 검색창<br><br>

  </p>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}

