{% extends "single_page/wiki_base.html" %}

{% load static %}

{% block extra-style %}
{{ block.super }}
{% endblock %}

{% block title %}{{ object }} - {% endblock %}

{% block wiki-content %}
<div class ="searchwiki_autocomplete">
    <input type="text" value ="{{ object.name }}" id="searchwiki">
    <ul class="searchwiki_list">
    </ul>
</div>
<br>
<div class="wiki_content">{{ object.get_content_markdown | safe }}</div>
{% endblock %}

{% block extra-script %}
{{ block.super }}
{% endblock %}
