<form method="POST"  action="." id="searchblock" class="container">
    {% csrf_token %}
    <input type="text" name="searchblock_input" id="searchblock_input"/>
    <input type="submit" onkeyup="enterkey();" name="searchblock_button" id="searchblock_button" value="검색"/>

    <div class="searchblock_date">
        <input type="date" id="searchblock_date_start">
        <input type="date" id="searchblock_date_end">
    </div>
</form>

<div class="underbar"></div>

<section id="side_block_container" class="container"></section>

<!-- 맨 오른쪽 세로로 추가메뉴 만들어야함 -->