<div class="side_chat container">
  <h4>Chat</h4>

  <div class="block" style="padding:20px; margin-top:20px;">
    <a target='_blank' style="text-decoration: none; color:black;" href="">모두를 위한 투자 오픈채팅방 - 국내주식<i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
  </div>

  <div class="block" style="padding:20px; margin-top:20px;">
    <a target='_blank' style="text-decoration: none;color:black;" href="">모두를 위한 투자 오픈채팅방 - 해외주식<i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
  </div>

  <div class="block" style="padding:20px; margin-top:20px;">
    <a target='_blank' style="text-decoration: none;color:black;" href="">모두를 위한 투자 오픈채팅방 - 암호화폐<i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
  </div>
</div>