<div class="side_chat container">
  <h4>Chat</h4>

  <div class="block chat_room">
    <a target='_blank' href="https://open.kakao.com/o/gGqnNrpe">모두를 위한 투자 오픈채팅방 - 국내주식<i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
  </div>

  <div class="block chat_room">
    <a target='_blank' href="https://open.kakao.com/o/gP0ZNrpe">모두를 위한 투자 오픈채팅방 - 해외주식<i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
  </div>

  <div class="block chat_room">
    <a target='_blank' href="https://open.kakao.com/o/g967Orpe">모두를 위한 투자 오픈채팅방 - 암호화폐<i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
  </div>
</div>