{% extends "single_page/wiki_base.html" %}

{% load static %}

{% block extra-style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/stock.css' %}">
{% endblock %}

{% block title %}{{ object }} - {% endblock %}

{% block wiki-content %}
<div class="stock_header">
    <div class = "searchwiki_autocomplete">
        {% csrf_token %}
        <input type="text" value ="{{ object.name }}" id="searchwiki" placeholder="기업, 인물, 단어 검색">
        <ul class="searchwiki_list">
        </ul>
    </div>

    <div class="stock_code">{{ object.code }}</div>
</div>
<br>

<div class="stock_menu">
    <button class="stock_menu_btn stock_menu_chart">차트</button>&nbsp;
    <button class="stock_menu_btn stock_menu_info">정보</button>&nbsp;
</div>
<br>

<div class="stock_chart_wrapper">
    <canvas id="stock_chart"></canvas>
</div>
<div class="stock_info wiki_content">
    {{ object.get_content_markdown|safe }}
</div>
{% endblock %}

{% block extra-script %}
{{ block.super }}
<script src="{% static 'js/stock.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}

