{% extends "base.html" %}

{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/wiki.css' %}">
<link rel="stylesheet" href="{% static 'css/side.css' %}">
{% endblock %}

{% block content %}
<div id="wiki_main">
    <!-- page -->
    <section id="left" class="container">
        {% block wiki-content %}{% endblock %}
    </section>

    <!-- The resizer -->
    <div id="resizer"></div>

    <!-- sidebar -->
    <aside id="side" >
        {% include "single_page/side_search.html" %}
        {% include "single_page/side_chat.html" %}
    </aside>

    <nav class="side_nav">
        {% include "single_page/side_nav.html" %}
    </nav>
</div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'js/wiki.js' %}"></script>
{% endblock %}

