{% extends "single_page/base.html" %}

{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/wiki.css' %}">
<link rel="stylesheet" href="{% static 'css/side.css' %}">
{% endblock %}

{% block wiki-extra-style %}
{% endblock %}

{% block content %}
<div id="wiki_main">
    <!-- page -->
    <section id="left" class="container">
        {% block wiki-content %}{% endblock %}
    </section>
    <!-- The resizer -->
    <div id="resizer"></div>
    <!-- sidebar -->
    <aside id="side" >
        {% include "single_page/side.html" %}
    </aside>
</div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'js/wiki.js' %}"></script>
{% endblock %}

{% block wiki-extra-script %}
{% endblock %}
